<!DOCTYPE html>
<html>
  <head>
    <title>Slido</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <a href="/"><img src="/images/logout.png" alt="logout"></a>
      </div>
    </div>

  <h2>Hello <%= user %></h2>
  </body>
</html>
