<!DOCTYPE html>
<html>
  <head>
    <title>Slido</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <a href="login"><img src="/images/login.png" alt="login"></a>
        <a href="signup"><img src="/images/signup.png" alt="login"></a>
      </div>
    </div>

    <form class="code_input" action="">
      <label for="code" id="code_label">Join a thread!</label>
      <br>
      <input type="text" name="code" id="code" placeholder="#1234">
      <button><img src="/images/next.png" alt="next"></button>
      </form>
  </body>
</html>
