<!DOCTYPE html>
<html>
  <head>
    <title>Slido - Log In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/signup_login.css">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <a href="login"><img src="/images/login.png" alt="login"></a>
        <a href="signup"><img src="/images/signup.png" alt="login"></a>
      </div>
    </div>

    <form class="signup_login" action="">
      <h2>Log In!</h2>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      </div>
      <button><img src="/images/next.png" alt="next"></button>
    </form>

  </body>
</html>
