<!DOCTYPE html>
<html>
  <head>
    <title>New lecture</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/lecture.css">
    <link rel="stylesheet" href="/stylesheets/signup_login.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <a href="/"><img src="/images/logout.png" alt="logout"></a>
      </div>
    </div>

    <form class="signup_login" action="newlecture" method="POST">
      <h2>Create a new form</h2>

      <ul>
        <% if(typeof errors != 'undefined') {%>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        <% }%>
      </ul>

      <div class="field">
        <label for="title">Title</label>
        <input type="title" name="title" id="title" required>
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
      </div>
      <div class="field">
        <label for="ending_date">Ending date</label>
        <input type="date" name="ending_date" id="ending_date" required>
      </div>
      <button><img src="/images/next.png" alt="next"></button>
    </form>

  </body>
</html>
