<!DOCTYPE html>
<html>
  <head>
    <title>Slido - Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bar.css">
    <link rel="stylesheet" href="/stylesheets/signup_login.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="top_bar">
      <div class="left_leaning">
        <a href="/">Slido</a>
      </div>
      <div class="right_leaning">
        <a href="login"><img src="/images/login.png" alt="login"></a>
        <a href="signup"><img src="/images/signup.png" alt="login"></a>
      </div>
    </div>

    <form class="signup_login" action="signup" method="POST" enctype="multipart/form-data">
      <h2>Sign Up!</h2>

      <ul>
        <% if(typeof errors != 'undefined') {%>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }) %>
        <% }%>
      </ul>

      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="field">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" required>
      </div>
      <div class="field">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name" required>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </div><div class="field">
        <label for="re_password">Confirm Password</label>
        <input type="password" name="re_password" id="re_password" required>
      </div>
      </div><div class="field">
        <input type="file" name="image" required>
      </div>
      <br>
      <label for="description">Description</label>
      <br>
      <div class="field">
        <textarea name="description" id="description"></textarea>
        <button><img src="/images/next.png" alt="next"></button>
      </div>

      <a href="login">Already have an account?</a>
    </form>

  </body>
</html>
