.container {
    background: #44475a;
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.comment {
    white-space: nowrap;
    overflow: hidden;
    max-width: 22ch;
}

button {
    background: #44475a;
    border: none
}